{% extends 'base.html' %}

{% block body %}
{% load static %}

<div class="faq-section">
    <div class="faq-container">
        <h2>Frequently Asked Questions</h2><br><br>
        <div class="faq-item">
            <button class="faq-question">Q. What is mental health?</button>
            <div class="faq-answer">
                <p>A. Mental health refers to the overall psychological well-being and emotional state of an individual.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. What is Psychotherapy?</button>
            <div class="faq-answer">
                <p>A. Psychotherapy is a form of treatment that involves talking to a trained therapist to explore and resolve emotional or psychological issues.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. What are the benefits of psychotherapy?</button>
            <div class="faq-answer">
                <p>A. Psychotherapy can help improve coping skills, enhance self-awareness, build resilience, and manage mental health conditions.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. How can I recognize if I need Psychotherapy?</button>
            <div class="faq-answer">
                <p>A. If you're experiencing persistent emotional distress, difficulty coping with life events, or changes in behavior, it may be time to consider psychotherapy.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Is it possible for me to refer individuals I know to one of your therapists?</button>
            <div class="faq-answer">
                <p>A. Our team prioritizes the task of matching the most suitable therapists with the individuals you recommend to us. 
                    Additionally, we offer a range of AMHS Gift Coupons, entitling you to complimentary therapy sessions for each successful referral</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Is there any provision for me if I am unable to afford your current therapy prices?</button>
            <div class="faq-answer">
                <p>A. We offer prices of psychotherapy on a sliding scale. This allows our team to meet your financial expectations in a better way.
                    We also provide pro-bono sessions to those clients who have special kinds of circumstances as mentioned in detail in our company policy documents.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. How long does psychotherapy usually last?</button>
            <div class="faq-answer">
                <p>A. The duration of psychotherapy varies depending on individual needs and the type of therapy, ranging from a few sessions to several months or longer.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Is psychotherapy effective for all mental health conditions?</button>
            <div class="faq-answer">
                <p>A. Psychotherapy can be effective for various mental health conditions, but its success may depend on the specific condition and the individual.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Can I do psychotherapy online?</button>
            <div class="faq-answer">
                <p>A. Yes, online therapy, also known as teletherapy, is an accessible and effective option for many individuals seeking mental health support.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. What is the difference between a psychologist and a psychiatrist?</button>
            <div class="faq-answer">
                <p>A. Psychologists provide psychotherapy and counseling, while psychiatrists are medical doctors who can prescribe medications for mental health conditions.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. How confidential is psychotherapy?</button>
            <div class="faq-answer">
                <p>A. Confidentiality is a fundamental aspect of psychotherapy. Therapists are bound by ethical guidelines to protect client privacy.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Can I choose my therapist?</button>
            <div class="faq-answer">
                <p>A. Yes, you can usually choose your therapist based on their specialization, approach, and compatibility with your needs.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Is psychotherapy covered by insurance?</button>
            <div class="faq-answer">
                <p>A. Many health insurance plans provide coverage for psychotherapy, but it's essential to check with your insurance provider to confirm.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Can I stop therapy whenever I want?</button>
            <div class="faq-answer">
                <p>A. Yes, you can stop therapy at any time, but discussing your decision with your therapist can be beneficial for a proper conclusion.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. What can I expect during my first therapy session?</button>
            <div class="faq-answer">
                <p>A. In the first session, your therapist will typically gather information about your background, concerns, and goals to develop a treatment plan.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Will my therapist diagnose me with a mental health condition?</button>
            <div class="faq-answer">
                <p>A. Therapists may diagnose mental health conditions based on symptoms, but it's not the primary focus of therapy.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Can therapy be helpful for managing stress?</button>
            <div class="faq-answer">
                <p>A. Yes, therapy can provide coping strategies and stress management techniques to improve your ability to handle stress.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Can I attend therapy if I'm not dealing with a crisis?</button>
            <div class="faq-answer">
                <p>A. Absolutely, therapy can be beneficial for personal growth, self-exploration, and improving overall well-being.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Are there any age restrictions for psychotherapy?</button>
            <div class="faq-answer">
                <p>A. Psychotherapy is available for individuals of all ages, including children, teenagers, adults, and older adults.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Can I involve my family in therapy sessions?</button>
            <div class="faq-answer">
                <p>A. Family therapy is a specialized form of psychotherapy that involves family members to address relational issues and improve communication.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Q. Is it normal to feel nervous before starting therapy?</button>
            <div class="faq-answer">
                <p>A. Feeling nervous is common, but remember that therapy is a supportive and non-judgmental space to explore your feelings and concerns.</p>
            </div>
        </div>
        
    </div>
</div>
</div>
</div>

<script src="{% static 'js/main.js' %}"></script>

{% endblock %}