{% extends 'base.html' %}

{% block body %}
{% load static %}

<div class="flip-card" id="megha-profile">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title"><img src="{% static 'images/profile2.jpg' %}" alt="counselling" style="width: 265px; height: 280px; border-radius: 50%; padding-top: 5px;"></p>
        </div>
        <div class="flip-card-back">
            <p class="title"> Megha Jain <br></p>
            <p style="font-size: 20px; font-style: italic;">Clinical Psychologist</p>
        </div>
    </div>
</div>
<div class="introduction-box">
    <p class="introduction-text">
        "I believe that psychotherapy is a process to achieve results from the interaction between the client and the therapist in the most empathetic and non-judgemental form, I consider both the client and the therapist to be in equal positions without establishing any sense of authority one over another.  I intend to work in the setup of psychotherapy to explore the dynamics of the psyche on both ends of the table.

        I have worked for over 1200 hours of intense psychotherapy with problems related to relationships, commitment, parent-child interaction, existential crisis, sleep, work motivation, family crisis, sexual discontentment, abuse, and trauma.

        
        <br>
        The concerns that I have previously worked with range from Neurodivergence, depressive disorder, obsessive-compulsive disorder, Anxiety, Dissociation, Post-Traumatic Stress, Schizophrenia, Borderline Personality, and Narcissistic personality to Avoidant personality.

        My specialization of models in psychotherapy includes psychoanalysis, clinical hypnotherapy, acceptance and commitment therapy, dialectical Behavior therapy, cognitive behavior therapy, art therapy, techniques of mindfulness, EFT, anger management, assertiveness-communication training, and Relaxation exercises.
        I am a trauma informed, queer Affirmative and a spirituality-inclusive, Clinical Psychologist with pronouns she/her. I hold a valid practicing license registered with the Rehabilitation Counsil of India (RCI) with CRR no. A89424. <br> I have majored in the field of Clinical Psychology with an intention of dealing with a specific clientele which requires serious help with diagnosable conditions and disorders along with the assessment process of these disorders. I believe in psychotherapy as a crucial weapon that deserves a place in all our toolboxes to deal with the more complicated and advanced stressors in the environment of the modern day scenario."
    </p>
</div>
<div class="flip-card-1" id="aryavardhan-profile">
    <div class="flip-card-inner-1">
        <div class="flip-card-front-1">
            <p class="title"><img src="{% static 'images/profile3.jpg' %}" alt="counselling" style="width: 265px; height: 280px; border-radius: 50%; padding-top: 5px;"></p>
        </div>
        <div class="flip-card-back-1">
            <p class="title">Aryavardhan Jain</p>
            <p style="font-size: 20px; font-style: italic;">Technical Director</p>
        </div>
    </div>
</div>
<div class="introduction-box">
    <p class="introduction-text-1">    
        <br><br>Meet Aryavardhan Jain, the Technical Director in this project, who is currently pursuing his B.Tech in Computer Science and Engineering from Vellore Institute of Technology, Bhopal.
        <br>Young and dynamic, Aryavardhan is an intermediate web developer with a fervent dedication to creating impactful online platforms. With an academic background in computer science and engineering, he possesses a solid foundation in technology that fuels his drive to bring Antarman: MHS to life.
        This initiative reflects his commitment to excellence and creativity in web development. <br>With each line of code he writes, Aryavardhan innovates new ways of gaining accessibility to mental healthcare with a sense of purpose and innovation. His passion for technology fused with mental health, coupled with his relentless pursuit of perfection, results in web experiences that are not only functional but also visually captivating.
        Beyond the screen, Aryavardhan is an explorer of possibilities. He has been attuned to emerging trends and technologies, ensuring that AMHS is always at the forefront of innovation. This commitment to staying ahead of the curve transforms Antarman: MHS into a dynamic and evolving platform that caters to the ever-changing needs of its users.
        <br>Aryavardhan's journey is marked by his determination to master the art of web development. His collaborative spirit and innate curiosity drive him to continuously seek growth opportunities, both personally and professionally. As he aspires to make a meaningful impact in the world of technology, Antarman: aims to become a testament to his unwavering dedication.
    </p>
</div>

{% endblock %}