{% extends 'base.html' %}

{% block body %}
{% load static %}

<div class="introduction-box">
    <h2 style="margin-top: 150px; padding: 20px; margin-left: 25px; font-size: 64px; font-weight: 700; text-align: left; font-family: 'Montserrat', sans-serif;">Mission: </h2>
    <p class="introduction-text-1">
        Our mission at AMHS is to revolutionize the landscape of mental healthcare by addressing the intellectual and emotional depth of mental health issues while acknowledging the significance of ethnic and cultural practices that can lead to culture-specific problems. We are committed to achieving the following key objectives: <br> <br>

1. Ethical Excellence:
   We prioritize the highest ethical standards in our mental healthcare practices. Our team of licensed professionals is dedicated to upholding the principles of confidentiality, informed consent, and patient autonomy. We aim to create a safe and trustworthy environment for individuals seeking support. <br> <br>

2. In-Depth Understanding:
   We believe in going beyond surface-level care. Our clinical psychologists and psychiatrists are committed to conducting thorough assessments and providing personalized treatment plans that address the root causes of mental health challenges. We recognize that mental health is a complex interplay of factors, and we are here to navigate this depth with our clients. <br> <br>

3. Cultural Relevance:
   We understand that cultural and ethnic backgrounds play a pivotal role in shaping an individual's mental health experiences. AMHS is dedicated to providing culturally sensitive and relevant services that acknowledge and respect the diversity of our clients. Our counselors are trained to navigate culture-specific challenges and provide support accordingly. <br> <br>

4. Education and Awareness:
   We aim to break down the stigma associated with mental health by promoting education and awareness. Through outreach programs, webinars, and community initiatives, we strive to empower individuals and communities to prioritize their mental well-being. <br><br>

5. Accessibility and Inclusivity:
   We are committed to making mental healthcare accessible to all. Our online platform ensures that individuals can seek help conveniently, irrespective of their geographical location. We also offer a range of pricing options to accommodate diverse financial backgrounds.

    </p>
</div>
<div class="problem">
   <div class="slider-1">
      <input type="radio" name="toggle" id="btn-1" checked>
      <input type="radio" name="toggle" id="btn-2">
      <input type="radio" name="toggle" id="btn-3">
      <input type="radio" name="toggle" id="btn-4">
      <input type="radio" name="toggle" id="btn-5">

      <div class="slider-controls">
        <label for="btn-1"></label>
        <label for="btn-2"></label>
        <label for="btn-3"></label>
        <label for="btn-4"></label>
        <label for="btn-5"></label>
      </div>
    
      <ul class="slides">
        <li class="slide">
          <div class="slide-content-1">
            <p class="slide-text">The latest survey by India's National Institute of Mental Health and Neurosciences (NIMHANS) found that nearly 150 million Indians are in need of mental health care services, but fewer than 30 million are seeking care.</p>
          </div>
          <canvas id="doughnutChart" width="200" height="200"></canvas>
        </li>
        <li class="slide">
         <div class="slide-content-2">
           <p class="slide-text">As of 2020, over 322.48 million people worldwide suffer from some form of depressive disorder.</p>
         </div>
         <canvas id="doughnutChart1" width="200" height="200"></canvas>
       </li>
       <li class="slide">
         <div class="slide-content-2">
           <p class="slide-text">As of 2017, more than 14 percent of the total population in India suffer from variations of mental disorders. The majority of this share includes older adult females in India.</p>
         </div>
         <canvas id="doughnutChart2" width="200" height="200"></canvas>
       </li>
       <li class="slide">
         <div class="slide-content-2">
           <p class="slide-text">Only 41 per cent of young people between 15-24 years of age in India said that it is good to get support for mental health problems.</p>
         </div>
         <canvas id="doughnutChart3" width="200" height="200"></canvas>
       </li>
       <li class="slide">
         <div class="slide-content-2">
           <p class="slide-text">Even before the pandemic, at least 50 million children in India were affected with mental health issues; 80 – 90 per cent have not sought support.</p>
         </div>
         <canvas id="doughnutChart4" width="200" height="200"></canvas>
       </li>
      </ul>
   </div>
</div>
<div class="introduction-box">
    <h2 style="padding: 20px; margin-left: 25px; font-size: 64px; font-weight: 700; text-align: left; font-family: 'Montserrat', sans-serif;">Vision: </h2>
    <p class="introduction-text-1">
        At Antarman: Mental Healthcare Services (AMHS), we envision a world where mental health is treated with the same care, compassion, and cultural sensitivity as physical health. Our vision is to be a pioneering online mental healthcare startup that brings together a dedicated team of licensed professionals, clinical psychologists, psychiatrists, and counselors to provide ethical, in-depth, and culturally relevant mental healthcare services. We aspire to empower individuals from diverse backgrounds to achieve emotional well-being and mental resilience.
    </p>
</div>

{% endblock %}