@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#nav{
    height: 8vh;
    width: 100%;
    background-color: rgba(247,248,250,255);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
    padding-top: 60px;
    /* margin-top: -10vh; */
    top: 0;
    z-index: 99;
}

#nav-left{
    width: 20%;
  }

  #nav-left img{
      height: 4vw;
      margin-bottom: 10px;
  }
  #nav-middle{
      width: 1600%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      /* margin-right: 20%; */
  }
  #nav-middle a{
      text-decoration: none;
      color: #151566;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      text-transform: capitalize;
      font-size: 1.2vw;
      display: flex;
      position: relative;
      padding: 0px 20px 5px 20px;
      padding-bottom: 5px;
      transition: cubic-bezier(0.19, 1, 0.22, 1)1s;   
  }

  
  #nav-middle a:hover{
    color: #fb181b;
    
}

#nav-middle a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: rgb(7, 7, 7);
    transition: transform 0.25s ease-out;
    transform-origin: bottom left;
    transform: scaleX(0);

}

#nav-middle a:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: rgb(17, 17, 17);
    transition: transform 0.25s ease-out;
    transform-origin: bottom right;
    transform: scaleX(1);

}

#nav-right{
  display: flex;
  justify-content: flex-end;
}

.home{
    color: #fb181b;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.2vw;
    display: flex;
    gap: 3;
    position: relative;
    padding: 0px 30px 5px 30px;
    padding-bottom: 5px;
}

.dropbtn{
    padding: 14px 16px;
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden; /* Hide any overflowing content */
    border-radius: 10px;
    padding: 10px 0;
    width: 300px;
}

.dropdown-content a{
    color: #333;
    padding: 22px 16px;
    text-decoration: none;
    display: block;
    margin: 10px;
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display: block;
    animation: slideDown 0.2s ease-in-out;
}

@keyframes slideDown{
    from{
        max-height: 0;
        opacity: 0;
    }

    to{
        max-height: 200px;
        opacity: 1;
    }
}

#page-1{
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
    margin-top: 10vh;
}

.p1-sections{
    display: flex;
    padding-top: 40px;
    height: 100%;
    width: 100%;
}

.p1-right{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    z-index: -1;
}

#p1-left {
    width: 60%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 5%;
    text-align: center;
}

#p1-left h1{
    font-size: 60px;
}

#p1-left p{
    font-size: 25px;
    margin-bottom: 70px;
}

.Welcome{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: lighter;
}

.phone-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120%;
}

a {
    cursor: pointer;
}

.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .shadow__btn, .shadow__btn-1 {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.5s;
  transition-property: box-shadow;
  width: 50%;
  }

  .shadow__btn-1{
    margin: 20px 0px 20px 50px;
  }

  .shadow__btn, .shadow__btn-1 {
    background: #23246c;
    box-shadow: 0 0 15px #12123d;
  }

  .shadow__btn{
    margin: 20px 0px 20px 5px;
  }

  .shadow__btn:hover, .shadow__btn-1:hover {
  box-shadow: 0 0 5px #ffffff,
              0 0 25px #ffffff,
              0 0 50px #ffffff,
              0 0 100px #ffffff;
  }

  .gallery {
	padding: 1rem;
	display: flex;
	overflow: hidden;
	height: 90vh;
    transform: translate3d(0,0,0);
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

.image-container {
    display: flex;
    flex: 0 0 auto;
    width: 80vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    margin-right: 1rem;
}

.image-container:last-child{
    margin-right: 0;
}

.image-container img {
    width: 75%;
    height: 80%;
    max-width: 100%; /* Ensure the image fits within the container */
    max-height: 100%; /* Ensure the image fits within the container */
    object-fit: cover; /* Preserve aspect ratio and cover the container */
    display: block;
    border-radius: 20px;
}

.slideshow-text{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.slider, .slider-1 {
    position: relative;
    height: 300px;
    margin: 50px auto;
    box-shadow: 20px 20px 8px 0 rgba(0, 0, 0, 0.14), 4px 6px 20px 0 rgba(0, 0, 0, 0.12),
      4px 6px 20px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  .slider{
    width: 960px;
  }

  .slider-1{
    width: 640px;
  }
  
  .slider-controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
  
    list-style: none;
    text-align: center;
  }
  
  .slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-controls label {
    display: inline-block;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #212121;
    transition: background-color 0.2s linear;
  }
  
  #btn-1:checked ~ .slider-controls label[for="btn-1"] {
    background-color: #e10de1;
  }
  
  #btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: #e10de1;
  }
  
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #e10de1;
  }

  #btn-4:checked ~ .slider-controls label[for="btn-4"] {
    background-color: #e10de1;
  }

  #btn-5:checked ~ .slider-controls label[for="btn-5"] {
    background-color: #e10de1;
  }

  #btn-6:checked ~ .slider-controls label[for="btn-6"] {
    background-color: #e10de1;
  }

  #btn-7:checked ~ .slider-controls label[for="btn-7"] {
    background-color: #e10de1;
  }
  
  /* SLIDES */
  
  .slides {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 30px;
    width: 110%;
    height: 100%;
    opacity: 0;
    transform: translatex(-100%);
    transition: transform 250ms linear;
    background-color: white;
  }
  
  .slide-content {
    width: 65%;
    text-align: justify;
  }

  .slide-content-1 {
    width: 32%;
    text-align: left;
    margin-right: 10%;
  }

  .slide-content-2 {
    width: 32%;
    text-align: left;
    margin-right: 10%;
    margin-top: 10%;
  }

  .slide-text{
    margin-bottom: 25px;
  }
  
  .slide-title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .slide-image img {
    max-width: 100%;
  }
  
  /* Slide animations */
  #btn-1:checked ~ .slides .slide:nth-child(1) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-2:checked ~ .slides .slide:nth-child(2) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-3:checked ~ .slides .slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
  }

  #btn-4:checked ~ .slides .slide:nth-child(4) {
    transform: translatex(0);
    opacity: 1;
  }

  #btn-5:checked ~ .slides .slide:nth-child(5) {
    transform: translatex(0);
    opacity: 1;
  }

  #btn-6:checked ~ .slides .slide:nth-child(6) {
    transform: translatex(0);
    opacity: 1;
  }

  #btn-7:checked ~ .slides .slide:nth-child(7) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }

  #btn-4:not(:checked) ~ .slides .slide:nth-child(4) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }

  #btn-5:not(:checked) ~ .slides .slide:nth-child(5) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }

  #btn-6:not(:checked) ~ .slides .slide:nth-child(6) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }

  #btn-7:not(:checked) ~ .slides .slide:nth-child(7) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  @keyframes swap-out {
    0% {
      transform: translatex(0);
      opacity: 1;
    }
  
    50% {
      transform: translatex(50%);
      opacity: 0;
    }
  
    100% {
      transform: translatex(100%);
    }
  }

  .footer {
    margin-top: 70px;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }

  .btn-container{
    display: flex;
    margin-top: 1.4em;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    font-size: 15px;
    font-weight: 400;
    margin-left: 1.25em;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
    margin-left: 1.25em;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 1em;
    font-size: 1rem;
    padding: 0 1.3em;
  }

  .checked {
    color: orange;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
    flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }

  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(212, 222, 251);
    border-radius: 50%;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, rgb(1, 1, 51) 30%, rgb(42, 42, 87) 88%,
              rgb(205, 204, 206) 40%, rgb(255, 160, 160) 78%);
    color: white;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(82, 177, 250) 60%, rgb(208, 225, 253) 88%,
    rgb(222, 225, 250) 40%, rgba(30, 40, 189, 0.603) 48%);
    color: rgb(4, 0, 115);
    transform: rotateY(180deg);
  }

   .introduction-box {
    background-color: rgb(29 0 96 / 60%); /* Use rgba for transparency */
    color: rgb(255, 255, 255);
    /* padding: 40px; */
    position: relative;
    width: 80%;
    /* box-sizing: border-box; */
    margin-left: 120px;
    opacity: 0.7;
    margin-bottom: 20px;
    filter: drop-shadow(30px 10px 20px rgb(98, 91, 141));
}

.introduction-text, .introduction-text-1 {
    font-size: 20px; /* Adjust font size as needed */
    line-height: 1.5;
    /* margin-right: 75px;
    margin-left: 40px; */
    text-align: justify;
    font-style: italic;
}

.introduction-text-1{
  padding: 0px 50px 50px 50px;

}

.introduction-text{
  padding: 50px;
  margin-top: 200px;
}


.title {
line-height: 1.5;
font-weight: bold;
font-size: 30px;
}

.flip-card, .flip-card-1 {
  position: relative;
  background-color: transparent;
  width: 290px;
  height: 300px;
  font-family: sans-serif;
  z-index: 1;
}

.flip-card {
  margin: 2rem;
  float: left;
  shape-outside: circle();
}

.flip-card-1 {
float: right;
shape-outside: circle(30%);
margin: 9rem 5rem 10rem 7.8rem;
}

.flip-card-inner, .flip-card-inner-1{
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-1:hover .flip-card-inner-1 {
transform: rotateY(180deg);
}

.flip-card-front-1, .flip-card-back-1 {
box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
border: 1px solid rgb(212, 222, 251);
border-radius: 50%;
}

.flip-card-front-1 {
background: linear-gradient(120deg, rgb(1, 1, 51) 30%, rgb(42, 42, 87) 88%,
          rgb(205, 204, 206) 40%, rgb(255, 160, 160) 78%);
color: white;
}

.flip-card-back-1 {
background: linear-gradient(120deg, rgb(82, 177, 250) 60%, rgb(208, 225, 253) 88%,
rgb(222, 225, 250) 40%, rgba(30, 40, 189, 0.603) 48%);
color: rgb(4, 0, 115);
transform: rotateY(180deg);
}

.container{
  width: 74%;
  background: #fff;
  border-radius: 6px;
  padding: 30px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /* position: absolute; */
  position: relative;
  top: 150px;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 200px;
}

.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #23246c;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
  font-family: 'Montserrat', sans-serif;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

.faq-section {
  max-width: 940px;
  margin: 150px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.faq-container h2{
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: #3d3d3d;
  margin-top: 10px;
}

.faq-item{
  margin-bottom: 20px;
  padding-right: 10px;
}

.faq-question {
  margin: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.faq-question:hover{
  background-color: #e0e0e0;
}

.faq-question::after{
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 10px;
}

.faq-item.active .faq-answer{
  max-height: 1000px;
  opacity: 1;
  transition: max height 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.faq-answer{
  color: #4d4c4c;
  margin-left: 25px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.2s ease-out;
}

.faq-answer p{
  font-size: 22px;
  line-height: 1.6;
}


